@model List<ridetimes.Models.Ride>
<div class="jumbotron" id="hide">
    <h1>Disneyland Checklist API</h1>
    <p class="lead">Endpoint for Disneyland Checklist app</p>
    <input class="btn btn-primary btn-lg" type="button" value="Fetch Wait Times"  onclick="location.href='@Url.Action("RefreshTimes", "api/EndPoint")'" /> 
    <div class="col-md-12" id="div1">
        <div id="page">
            <table class="table-striped" id="table" runat="server">
                @if (Model != null)
                {
                    <thead>
                    <tr id="table_header">
                        <th id="text1s">@Html.Raw("Ride")</th>
                        <th id="text">@Html.Raw("Wait Time")</th>
                        <th id="text2">@Html.Raw("Status")</th>
                    </tr>
                    </thead>
                    foreach (var ride in Model)
                    {
                        <tr>
                            <td id="text1">@Html.Raw(ride.name)</td>
                            <td id="text">@Html.Raw(ride.waitTime.postedWaitMinutes.ToString())</td>
                            <td id="text">@Html.Raw(ride.waitTime.rollUpStatus)</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>
<a class="col-md-12" id="thanks"></a>
@section Scripts
{
    <script>
    window.onbeforeunload = function () {
        $('#hide').remove();
        $("#thanks").append("THANK YOU").delay(20000);
        // For Safari
        return message;
    };
</script>}



